# ┌───────────── min (0 - 59)
# │ ┌────────────── hour (0 - 23)
# │ │ ┌─────────────── day of month (1 - 31)
# │ │ │ ┌──────────────── month (1 - 12)
# │ │ │ │ ┌───────────────── day of week (0 - 6) (0 to 6 are Sunday to
# │ │ │ │ │                  Saturday, or use names; 7 is also Sunday)
# │ │ │ │ │
# │ │ │ │ │
# * * * * * user     command to execute
#  * * * * * www-data . /var/www/project_env.sh; /usr/local/bin/php /var/www/html/bin/console app:clean_inactive_users >> /var/www/cron.log 2>&1
* * * * * /usr/local/bin/php /var/www/html/artisan schedule:run
